/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* UTILITY */
.bottom-blu{
    padding: 5px 15px;
    background-color: rgb(0	97	255	);
    color: white;
    text-decoration: none;
} 
.b-padding-10{
    padding-bottom: 10px;
} 
.b-padding-40{
    padding-bottom: 40px;
}  
.t-padding-20{
    padding-top: 20px
}    
.f-blu{
    color: rgb(0	97	255);
}
.f-bold{
    font-weight: bold;
}
.t-padding-40{
    padding-top: 40px
} 
.lat-padding{
    padding: 10 20px
}
.f-size{
    font-size: 18px;
}
/* FINE UTILITY */
body{
    font-family:Arial, Helvetica, sans-serif
}
/* HEADER */
/* NAV */
nav ul li{
    display: inline-block;
    vertical-align: middle;
    padding: 20px 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    margin-left: 50%;
    padding-top: 5px;
}
.right ul li:first-child{
    margin-left: 30%;
}    


/* MAIN */
/* HERO */
#hero{
    
    background-color: rgb(180	208	231	);
}
.introduction{
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
} 
.introduction h1{
    font-size: 3.5em;
}   
    
.text{
    width: 35%;
    float: left;
}    

.text p:first-child{
    padding: 40px 0 20px 0;
}
.text p:last-child{
    margin-top: 20px
}



.jumbo{
    width: 100%;
}

.img{
    width: 60%;
    padding-top: 40px;
    margin-left: 40%;
} 
    /* business */
  #business{
      width: 70%;
      margin: 0 auto;
  } 
  .piano-dropbox h2{
      padding-top: 80px;
      padding-bottom: 40px;
      font-size: 2em;
  }
   /*colonna  */
.colonna{
    width: calc(100%/3 - 60px);
    border: 1px solid lightgrey;
    margin-top: 30px;
    float: left;
    margin-left: 30px;
    
}
.text-in{
    margin-left: 15px;
    line-height: 20px;
    
}    
 
.persone{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 5px 0
}
.text-in h4{
    padding-top: 20px;
    font-size: 20px;
}
 .colonna ul{
     list-style-type: none;
     padding-bottom: 150px;
 }  
 .colonna ul li::before{
     content: "\2713";
     color: rgb(0	97	255);
     padding-right: 3px;
 }
 .colonna ul li{
     margin-top: 20px;
 }   
    
    

    






